:root {
    --color-main: #02BA44;
    --color-button: #02BA44;
    --color-success: #02BA44;
    --color-error: #999999;
    --color-title: #fff;
    --color-question: #02BA44;
    --color-message: #02BA44;
    --color-answer: #999999;
}